# Python
__pycache__/
*.py[cod]
.venv/
.pytest_cache/

# Secrets
.env
secrets.conf
.env_encoded
kaggle.json


# Data files (downloaded by Kestra)
data/olist/*.csv
data/olist/*.zip
data/geospatial/*.csv
data/geospatial/*.zip

# files
project.md

# IDE
.zed/
.vscode/
.idea/

# Logs
*.log
