# Snowflake
SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_ROLE=
SNOWFLAKE_WAREHOUSE=
SNOWFLAKE_DATABASE=
SNOWFLAKE_SCHEMA=

# Lake (S3/MinIO)
LAKE_ENDPOINT=
LAKE_BUCKET=olist-lake
LAKE_ACCESS_KEY=
LAKE_SECRET_KEY=
LAKE_REGION=us-east-1

# Kaggle
KAGGLE_USERNAME=
KAGGLE_KEY=
